@if (vmState$ | async; as vm) {
  <h1>ToDo List</h1>
  @if (!vm.viewState.loadingToDos) {
    <div class="actions">
      <div class="action">
        <span class="title">Filter:</span>
        <input type="radio" name="filter" id="filter-all" [value]="undefined" checked (change)="updateFilterValue('all')"><label for="filter-all">All</label>
        <input type="radio" name="filter" id="filter-open" value="open" (change)="updateFilterValue('open')"><label for="filter-open">Open</label>
        <input type="radio" name="filter" id="filter-closed" value="closed" (change)="updateFilterValue('closed')"><label for="filter-closed">Closed</label>
      </div>
      <div class="action">
        <span class="title">Config:</span>
        <input type="checkbox" name="infiniteScroll" id="infiniteScroll" (change)="changeLoadingMode(vm.viewState.listLoadingMode)" ><label for="infiniteScroll">Inifinite Scroll</label>
      </div>
    </div>
    <div #list infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" [scrollWindow]="false"
      (scrolled)="vm.viewState.listLoadingMode == 'infinite-scrolling' && onScrollDown(vm.pagination)"
      class="todos-container" [class.disabled]="disableToDosContainer(vm.viewState)">
      <ng-container *ngIf="vm.todos as ToDos">
        <div *ngIf="ToDos.length == 0" class="no-todos">
          No ToDos
        </div>
        <div class="todo" *ngFor="let todo of ToDos; let i = index; trackBy: trackByFn">
          <span class="todo-title">{{displayToDoIndex(i, vm.pagination.page, vm.viewState.listLoadingMode)}}.
            <input type="checkbox" (click)="changeStatus(todo)" [checked]="getStatusForCheckbox(todo.status)"/> {{todo.name | titlecase}} - {{todo.endDate | date}}</span>
          <span class="todo-sub-title">Associated people:</span>
          @for (person of todo.persons; let j = $index; track trackByFn) {
            <div class="person-container">
              <span class="person-name">- {{person.name}} ({{person.age}})</span>
              <span class="person-skills">
                -- Skills: @for (skill of person.skills; let k = $index; track trackByFn) {
                  {{skill}}
                }
              </span>
            </div>
          }
        </div>
      </ng-container>
    </div>
    <div *ngIf="vm.viewState.listLoadingMode == 'pagination'" class="pagination">
      <app-paginator [page]="vm.pagination.page" [totalPages]="vm.pagination.pagesCount" (pageChanged)="changePage($event)"></app-paginator>
    </div>
  } @else {
    <app-loader></app-loader>
  }
}
