@use '../../styles/variables.scss' as variables;
@use '../../styles/button.scss' as button;

@mixin baseLayout() {
  display: flex;
  flex-flow: column;
  padding: variables.$padding;
}

:host {
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: flex-start;
  flex-grow: 1;
  overflow: hidden;

  .todos-container, .todo {
    @include baseLayout();
  }

  .actions {
    display: flex;
    justify-content: flex-start;
    padding: variables.$padding;
    border: variables.$border-color 1px solid;
    border-radius: variables.$border-radius;
    margin-bottom: variables.$margin;

    span, label {
      margin-right: variables.$margin;
    }
  }

  .todos-container {
    position: relative;
    border: variables.$border-color 1px solid;
    border-radius: variables.$border-radius;
    flex-grow: 1;
    overflow-y: auto;

    &.disabled {
      pointer-events: none;
      opacity: 0.6;
    }

    .no-todos {
      font-size: variables.$font-size-small;
    }

    .todo {
      padding: variables.$padding;
      &:not(:last-child) {
        border-bottom: variables.$border-color 1px solid;
      }

      .todo-title {
        font-weight: bold;
        font-size: variables.$font-size-medium;
        padding-bottom: variables.$padding;
      }
      .todo-sub-title {
        font-size: variables.$font-size-small;
        padding-bottom: variables.$padding;
      }

      .person-name, .person-skills {
        padding: variables.$padding;
        font-size: variables.$font-size-small;
      }

      .person-container {
        display: flex;
        flex-flow: column;
      }
    }
  }
}
