@if (vmState$ | async; as vm) {
  <h1>ToDo List</h1>
  @if (!vm.viewState.loadingToDosInitial) {
    <div class="actions">
      <div class="action">
        <span class="title">Filter:</span>
        <input type="radio" name="filter" id="filter-all" value="all" checked (change)="updateFilterValue('all')"><label for="filter-all">All</label>
        <input type="radio" name="filter" id="filter-open" value="open" (change)="updateFilterValue('open')"><label for="filter-open">Open</label>
        <input type="radio" name="filter" id="filter-closed" value="closed" (change)="updateFilterValue('closed')"><label for="filter-closed">Closed</label>
      </div>
      <div class="action">
        <span class="title">Config:</span>
        <input type="checkbox" name="infiniteScroll" id="infiniteScroll" (change)="changeLoadingMode(vm.viewState.listLoadingMode)" ><label for="infiniteScroll">Inifinite Scroll</label>
      </div>
    </div>
    <div #list infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" [scrollWindow]="false"
      [infiniteScrollDisabled]="vm.viewState.listLoadingMode !== 'infinite-scrolling'"
      (scrolled)="onScrollDown(vm.pagination)" class="todos-container"
      [class.disabled]="disableToDosContainer(vm.viewState)">
      @if (vm.toDos; as ToDos) {
        @if (ToDos.length == 0) {
          <div class="no-todos">
            No ToDos
          </div>
        } @else {
          @for (todo of ToDos; let i = $index; track todo.id) {
            <div class="todo">
              <span class="todo-title">{{displayToDoIndex(i, vm.pagination.page, vm.viewState.listLoadingMode)}}.
                <input type="checkbox" (click)="changeToDoStatus(todo)" [checked]="getStatusForCheckbox(todo.status)"/>
                <span (click)="editToDo(todo)">{{todo.name | titlecase}} - {{todo.endDate | date}}</span>
              </span>
              <span class="todo-sub-title">Associated people:</span>
              @for (person of todo.persons; let j = $index; track person.name) {
                <div class="person-container">
                  <span class="person-name">{{person.name}} ({{person.age}})</span>
                  <span class="person-skills">
                    Skills: @for (skill of person.skills; track skill) {
                      <span class="chip">{{skill}}</span>
                    }
                  </span>
                </div>
              }
            </div>
          }
        }
      }
    </div>
    @if (vm.viewState.listLoadingMode == 'pagination') {
      <app-paginator [page]="vm.pagination.page" [totalPages]="vm.pagination.pagesCount" (pageChanged)="changePage($event)"></app-paginator>
    }
  } @else {
    <app-loader></app-loader>
  }
}
