<fieldset>
  <legend>{{legend}}</legend>
  <div class="fields" [formArrayName]="formArrayName">
    @for (skill of skills.controls; track trackByFn; let i = $index) {
      <div class="content">
        <div class="list">
          <div class="field">
            <input type="text" [formControlName]="i" list="skills">
          </div>
        </div>
        <div class="field-actions">
          <button type="button" size="small" [disabled]="skills.length <= 1" (click)="removeSkill(i)">-</button>
        </div>
      </div>
    }
  </div>
  <button type="button" [disabled]="skills.length > 2" (click)="addSkill()"> Add {{legend}}</button>
</fieldset>
<datalist id="skills">
  @for (skill of (skillList$ | async); track skill) {
    <option [value]="skill">{{skill}}</option>
  }
</datalist>
