<fieldset>
  <legend>{{legend}}</legend>
  <div class="fields" [formArrayName]="formArrayName">
    <ng-container *ngFor="let skill of skills.controls; let i = index; trackBy: trackByFn">
      <div class="content">
        <div class="list">
          <div class="field">
            <input type="text" [formControlName]="i" id="skill-{{i}}" list="skills">
          </div>
        </div>
        <div class="field-actions">
          <button type="button" size="small" [disabled]="skills.length <= 1" (click)="removeSkill(i)">-</button>
        </div>
      </div>
    </ng-container>
    <datalist id="skills">
      <ng-container *ngFor="let skill of ( skillList$ | async ); let i = index">
        <option [value]="skill">{{skill}}</option>
      </ng-container>
    </datalist>
  </div>
  <button type="button" [disabled]="skills.length > 2" (click)="addSkill()"> Add {{legend}}</button>
</fieldset>
