@import './styles/variables.scss';

:host {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 352px;
  background-color: $background-color;
  font-family: $font-family;
  color: $font-color;
  padding: $padding;
  overflow: hidden;
  margin: 30px;
  border-radius: $border-radius;
  max-height: 90vh;
  height: 100%;
}

.host-header {
  width: 100%;
}

main {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  overflow: hidden;
}
